DB_ROOT_PASSWORD=change_me_root
DB_NAME=secureblog
DB_USER=secureblog
DB_PASSWORD=change_me
SESSION_SECRET=change_me_long_random_string
JWT_SECRET=generate_and_paste_a_jwt_secret_here
GOOGLE_CLIENT_ID=id_google_cloud_console
GOOGLE_CLIENT_SECRET=secret_google_cloud_console
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback